.nav {
    --main-bg-color: black;
    height: 50px;
    cursor: pointer;
    width: 100%;
    padding-top: 0px;
    text-align: left;
    font-size: 1em;
    background: var(--main-bg-color);
    z-index: 1;
  
  }
  
  .nav__list {
    display: flex;
    list-style: none;
    height: 100%;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    font-size: 1.5em;
  }
  
  .nav__brand {
    width: 200px;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Source Serif Pro', sans-serif;
    color: white;
    flex-shrink: 1;
  }
  
  .nav__link:hover {
    background-color: white;
    color: white;
  }
  
  
  .nav__link {
    text-decoration: none;
    color: white;
    font-size: 1em;
    width: 10%;
  }
  
  .nav__link--selected {
    width: 10%;
    text-decoration: none;
    background: purple;
    color: white;
    font-size: 1em;
  }
  
  .nav__link--selected:hover {
    text-decoration: none;
  }
  
  /* --- ARROWS --- */
  .nav__link--selected {
      position: relative;
      background: var(--main-bg-color);
  }
  
  .nav__link--selected:after, .nav__link--selected:before {
      top: 100%;
      left: 50%;	border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
  }
  
  .nav__link--selected:after {
      border-top-color: var(--main-bg-color);
      border-width: 20px;
      margin-left: -20px;
  }
  
  .nav__list:before {	
      border-top-color: var(--main-bg-color);
      border-width: 21px;
      margin-left: -21px;
  }
  
  /**
  * Collapsing menu for navbar
  **/
  .menu-col {
    width: 35px;
    padding: 5px;
    display: none;
    position: absolute;
    right: 15px;
  }
  
  .menu-col__bar {
    padding: 0;
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
  }
  
  .menu-col__bar:first-child {
    margin-top: 1.25px;
  }
  
  .menu-list {
    display: none;
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 5px;
  }
  
  .menu-list__list {
    width: 300px;
    background-color: white;
    list-style: none;
    padding: 0;
  
  }
  .menu-list__item {
    height: 10px;
    padding: 25px; 
    color: black;
    text-shadow: none;
  }
  .menu-list__item:nth-child(even) {
    background-color: grey;
  }
  .menu-list__item:hover {
    background-color: #52bab3;
  }
  
  @media (max-width: 769px) {
    
    .menu-col {
      display: block;
      right: 15px;
  
    }
  
    .nav__link {
      display: none;
    }
  
    .nav {
      position: relative;
    }
  
    .nav__list {
      display: flex;
      justify-content: flex-start;
      padding: 0;
      margin-bottom: 0;
    }
  
  @media (max-width: 768px) {
    
    .menu-list {
      display:none;
    }
  }
  
  }